/*Overwrite material styles here*/

table.responsive-table td:empty:before {
	display: block;
	min-height: 56px;
}

.valignicon {
	position: relative;
	transform: translateY(+8%);
}

td > img {
	display: flex;
}