/*Overwrite material styles here*/

table.responsive-table td:empty:before {
	display: block;
	min-height: 56px;
}

.valignicon {
	position: relative;
	transform: translateY(+8%);
}

td > img {
	display: flex;
}

#application-container .container {
	display: flex;
	flex-direction: column;
}

#tab_playlists_converter {
	display: flex;
	flex: 1 1 auto;
}

#tab_playlists_converter webview {
	display: flex;
	flex: 1 1 auto;
}
